<html>
  <head>
    <title>Message Form</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header', {title: "Message Form"}) %>
    <div class="form-container">
      <div class="form-title" aria-hidden="true">New Message</div>
      <form method="post" action="/new">
        <label for="username">
          <span class="label-text">Username</span>
          <input type="text" name="username" id="username" autocomplete="off" />
        </label>
        <label for="message">
          <span class="label-text">Text Message</span>
          <textarea name="messageText" id="message"></textarea>
        </label>
        <button type="submit" class="send-btn">Send</button>
      </form>
    </div>
  </body>
</html>
